.cursor{
    cursor: pointer;
    color: white;

}

.text-decorator-none{
    text-decoration: none;
}
.conteudo{
    background-color: cyan !important;
}
 
.color1{
    background-color:  black !important;
}
